.form ul li {
    list-style: none;
}

.form ul li label:not(.btn-radio) {
    margin-right: 10px;
    width: 100px;
    float: left;
}

.form ul li label.btn-radio {
    margin-right: 50px;

    float: left;
}

.form ul {
    width: 350px;
    margin: 0 auto;
}

.form ul li:first-of-type {
    margin-top: 40px;
}

.form ul li:last-of-type {
    margin-bottom: 50px;
}