@import url("https://fonts.googleapis.com/css?family=Dosis");

:root {
    /* generic */
    --gutterSm: 0.4rem;
    --gutterMd: 0.8rem;
    --gutterLg: 1.6rem;
    --gutterXl: 2.4rem;
    --gutterXx: 7.2rem;
    --colorPrimary400: #7e57c2;
    --colorPrimary600: #5e35b1;
    --colorPrimary800: #4527a0;
    --fontFamily: "Dosis", sans-serif;
    --fontSizeSm: 1.2rem;
    --fontSizeMd: 1.6rem;
    --fontSizeLg: 2.1rem;
    --fontSizeXl: 2.8rem;
    --fontSizeXx: 3.6rem;
    --lineHeightSm: 1.1;
    --lineHeightMd: 1.8;
    --transitionDuration: 300ms;
    --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
    /* floated labels */
    --inputPaddingV: var(--gutterMd);
    --inputPaddingH: var(--gutterLg);
    --inputFontSize: var(--fontSizeLg);
    --inputLineHeight: var(--lineHeightMd);
    --labelScaleFactor: 0.8;
    --labelDefaultPosY: 50%;
    --labelTransformedPosY: calc((var(--labelDefaultPosY)) - (var(--inputPaddingV) * var(--labelScaleFactor)) - (var(--inputFontSize) * var(--inputLineHeight)));
    --inputTransitionDuration: var(--transitionDuration);
    --inputTransitionTF: var(--transitionTF);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.input:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.input {
    border: solid 2px #000;
    width: 160px;
    height: 60px；
}

#input {
    border: solid 2px #000;
    width: 100%;
    height: 60px；
    
}


#service {

    width: 200px;
    margin-bottom: 10px;
    float: right;

}


#label {

    width: 100px;
    margin-right:10px;
    float: left;
    white-space: nowrap;
    text-align: left;
    
}

.error{

    color:red;
    margin: 20px 35% 0px;
    border-style: double;
    display: inline-block;
    white-space: nowrap;
    padding: 5px;

}



li{
    list-style: none;
    padding: 0;
}


ul.service {

 /*   width: 350px;     */
    margin: 0px 35% 0px;
    padding-inline-start: 0;  
}

li.service {
    list-style: none;
    float: right;
    
}