
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  background: url(../image/mojistyle.gif);
  background-size: contain;
  background-position: top left;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20mm;
  font-weight: bold;
  font-family: sans-serif;
  
}