/*表全体*/
.zebra {
    border-collapse: collapse;

    width: 100%;

    /*文字一列表示*/
    white-space: nowrap;

}


/*表題*/
.zebra caption {
    font-family: "";
    font-size: 30px;
    font-weight: bolder;

    background-repeat: no-repeat;
    text-align: left;
    padding: 10px;


}


/*表頭*/
.zebra th {
    border-left: 3px solid #555;
    border-right: 3px solid #555;
    border-top: 3px solid #555;
    border-bottom: 3px solid #555;

    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;


    background-color: rgb(134, 127, 230) !important;
    color: white;
    font-weight: bolder;
}


.zebra td {
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;

    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;

}

.num {
    text-align: right;
    width: 3%;

}




/*偶数*/
.zebra tr:nth-child(even) {
    background: rgb(234, 231, 248) !important;
    color: black;

}

/*単数*/
.zebra tr:nth-child(odd) {
    background: rgb(248, 238, 253);
    color: black;

}

/*選択され*/
.zebra tr:hover {
    background: rgb(217, 211, 247);
    color: rgb(11, 56, 153);
}