.zebra caption {
    font-size: 20px;
    font-weight: normal;

    background-repeat: no-repeat;
    background-position: 130px center;
    padding-top: 20px;
    height: 50px;
}


table {
/*    border-collapse: collapse;    */
    border-spacing: 0px; 
    width: 100%;
    -webkit-box-shadow: 0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    box-shadow: 0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    
}


.zebra {


/*  border: 1px solid #555; */
    
}

.zebra td {
    
    border: 1px solid #555; 
    padding: 10px;
    text-align: center;
}

#space{

    padding: 0px;
    border: none;
    background-color:#e6e6e6;

}


/*表頭*/
.zebra th{
    border: 1px solid rgb(0, 0, 0);  
/*    border-bottom: 1px solid #828282; */
    padding: 15px;
    background-color: rgba(181, 181, 181, 0.857) ;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
/*偶数*/
.zebra tbody tr:nth-child(even) {
    background:#f8eefd!important;
    color: #000;
}
/*選択され*/
/*    .zebra tr:hover * {
    background: #eeeeee;
    color: #000;
}
*/

/*単数*/
.zebra tr {
    background: #c8f0d6;
    color: #000;
}

#sun{

    color: rgb(248, 81, 81);

}

#sat{

    color: rgb(81, 92, 248);

}
