/*ボックス*/
.errorbox {
    position: absolute;
    top: 30%;
    left: 30%;
    /*
    width: 300px;
    height: 200px;
    */
    padding: 20px;
    background: white;
    border: 2px solid;
    border-color: red;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
}



/*閉じる*/
.errorbox .icon {
    display: block;
    position: absolute;
    top: 5px;
    right: 8px;
    overflow: hidden;
    /*
      white-space: nowrap;
      text-overflow: ellipsis;
      */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
    font-style: normal;
    text-align: center;
    background: rgb(230, 93, 93);

    box-shadow: 3px 3px 1px grey;
}

/*リスト*/
.errorbox ul li {
    list-style: none;
    text-shadow: "";
    color: red;
}