.page {
  position: relative;
  margin: 3.5em auto;
  border: solid 2em transparent;
  
  
  max-width: 37.5em;
  background: #fff padding-box;
  -webkit-clip-path: polygon(0 6.25em, 6.25em 0, calc(100% - 6.25em) 0, 100% 6.25em, 100% 100%, 0 100%);
          clip-path: polygon(0 6.25em, 6.25em 0, calc(100% - 6.25em) 0, 100% 6.25em, 100% 100%, 0 100%);
  -webkit-filter: drop-shadow(0 1px 3.5px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 1px 3.5px rgba(0, 0, 0, 0.2));
}
.page::before, .page::after {
  --i: 0;
  --sgni: calc(2*var(--i) - 1);
  position: absolute;
  top: -2em;
  left: calc(var(--i)*100% + var(--sgni)*2em - .5*8.83883em);
  width: 8.83883em;
  height: .5em;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: rotate(calc(var(--sgni)*45deg)) translatey(4.41942em);
          transform: rotate(calc(var(--sgni)*45deg)) translatey(4.41942em);
  background: radial-gradient(at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 65%);
  content: "";
}
.page::after {
  --i: 1;
}
